/* design a card style to have card with top, middle and bottom*/
.cardTop {
    margin-bottom: 12px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
}

/* the css of cardMiddle */
.cardMiddle {
    margin-bottom: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #333;
}

/* the css of cardBottom */
.cardBottom {
    font-size: 12px;
    text-align: left;
}

/* the css of the whole card */
.utility-card {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 100%;
    /* set the initial width to 100% */
}

@media screen and (min-width: 768px) {
    .utility-card {
        width: calc((100% / 2) - 8px);
        /* set the width to 50% for screens larger than 768px */
    }
}

@media screen and (min-width: 1200px) {
    .utility-card {
        width: calc((100% / 3) - 10px);
        /* set the width to 33.33% for screens larger than 1200px */
    }
}

/* the css of the whole card when it is hovered */
.utilityCard:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* the css of the whole card when it is clicked */
.utilityCard:active {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* the css of the whole card when it is selected */
.utilityCard.selected {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* the css of the whole card when it is selected and hovered */
.utilityCard.selected:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}