.writing-page {
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  width: 100%;
  height: max-content;
  position: relative;
  .loading {
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  button.back {
    background-color: transparent;
    color: rgb(47, 113, 218);
    width: max-content;
    border: none;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .left {
    display: flex;
    flex-direction: column;
    margin: 15vh 20px 5vh;
    border-radius: 10px;
    background-color: white;
    width: 45%;
    min-width: 200px;
    height: 80vh;
    flex: 1;
    .submit {
      border: none;
      border-radius: 10px;
      color: white;
      padding: 10px;
      width: 4rem;
      background-color: rgb(47, 113, 218);
    }
    .topic {
      width: 80%;
      margin: 30px auto;
      height: 15vh;
    }
    .flex-col {
      display: flex;
      flex-direction: column;
    }
    .content {
      margin: 10px auto;
      width: 80%;
      height: 40vh;
      // overflow-y: hidden;
    }
    hr {
      border: 1px solid rgb(47, 113, 218);
      height: 0;
      width: 90%;
    }
    textarea {
      border: none;
      ::placeholder {
        color: grey;
      }
      font-size: large;

      width: 80%;
    }
  }
  .right {
    position: relative;
    margin: 15vh 20px 5vh;
    border-radius: 10px;
    background-color: white;
    width: 45%;
    min-width: 200px;
    height: 80vh;
    flex: 1;
    textarea {
      border: none;
    }
  }
}
